[primary]
${ primary.ip } new_hostname=${ primary.name } node=${ primary.node }

[secondary]
%{ for i in secondary ~}
${ i.ip } new_hostname=${ i.name } node=${ i.node }
%{ endfor ~}

[control:children]
primary
secondary

[control:vars]
nginx_ip=${ nginx.ip }

[worker]
%{ for i in workers ~}
${ i.ip } new_hostname=${ i.name }  node=${ i.node }
%{ endfor ~}

[worker:vars]
nginx_ip=${ nginx.ip }

[haproxy]
${ nginx.ip } new_hostname=${ nginx.name }